<div class="header">
    <app-links><a href="/home">Home</a></app-links>
    <app-links><a href="/about">About</a></app-links>
    <app-links><a href="/teams">Teams</a></app-links>
    <app-links><a href="/products">Products</a></app-links>
    <div class="searchbox">
        <app-textbox [textSpecs]="searchBox"></app-textbox>
        <app-button *ngIf="!isLogin" (clicked)="onLogin($event)" [buttonSpecs]="loginButton">Login</app-button>
        <app-button *ngIf="isLogin" (clicked)="onLogout($event)" [buttonSpecs]="logoutButton">Logout</app-button>
        <app-button *ngIf="!isLogin" (clicked)="onSignUp($event)" [buttonSpecs]="signUpButton">SignUp</app-button>
    </div> 
</div>